@charset "utf-8";
*{
	margin:0;
	padding:0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
#contain{
	/*background:red;*/
}
#contain #dh{

}
#contain #dh #header{
	width:1200px;
	height:60px;
	margin:0 auto;
}
#contain #dh #logo{
	width:120px;
	height:60px;
	float:left;
	line-height:60px;
}
#contain #dh #logo span{
	font-size:20px;
}
#contain #dh #ul{
	margin-left:90px;
}
#contain #dh #ul li{
	float:left;
}
#contain #dh #ul li:first-child{
	padding-left:90px;
}
#contain #dh #ul li a{
	padding-right:54px;
	text-align: center;
	line-height:60px;
}
#contain #dh #ul li a:hover{
	opacity:0.5;
}
#contain #dh #right{
	width:22px;
	height:22px;
	float:right;
	margin-top:19px;
}
#contain #dh #right .iconfont{
	font-size:20px;
}
#contain #dh #header #bag{
	width:270px;
	height:206px;
	right:0px;
	position:absolute;
	top:65px;
	display:none;
	z-index:3;
}
#contain #dh #header #bag #navbag{
	position:relative;
	background:#fff;
}
#contain #dh #header #bag #navbag ul{
	display:block;
	overflow:hidden;
	border-radius:4px;
	padding:10px 0;
	box-shadow: 0 1px 2px 0 rgba(102,102,102,0.5);
}
#contain #dh #header #bag #navbag ul li{
	display:block;
	padding:18px 0;
	margin:0 28px;
	border-bottom:1px rgba(0,0,0,0.082) solid;
}
#contain #dh #header #bag #navbag ul li a{
	white-space: nowrap;
	overflow:hidden;
	font-size:20px;
	color:#333;
}
#contain #dh #header #bag #navbag ul li a .iconfont{
	font-size:20px
}
#phone{
	width:1350px;
	height:368px;
	background:#dad9d9;
	display:none;
}
#phone #left1{
	width:374px;
	height:286px;
	margin:26px 9px 0 194px;
	float:left;
}
#phone #right1{
	width:588px;
	height:286px;
	float:left;
	margin:26px 150px 0 0;
	/*line-height: 286px;*/
}
#phone #right1 ul li{
	float:left;
	margin-right:9px;
}
#phone #right1 ul #rl{
	margin-top:5px;
}
#contain #dh{
	margin:0 auto;
}